@import "tailwindcss";

:root {
  --blue:#42A9D7;
  --pink:#D594DC;
  --peach:#F5DCC6;
  --gray:rgba(255, 255, 255, 0.50);
  --background:#0e121a;
  --container-background:rgb(255, 255, 255, 0.10);
}

body {
  background: var(--background);
  color: var(--pink);
  font-family: Arial, Helvetica, sans-serif;
}
